[submodule ".vim/bundle/syntastic"]
        path = .vim/bundle/syntastic
    	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-javascript"]
        path = .vim/bundle/vim-javascript
        url = git://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/nerdtree"]
        path = .vim/bundle/nerdtree
        url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/tagbar"]
        path = .vim/bundle/tagbar
        url = git://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/neocompletecache"]
	path = .vim/bundle/neocompletecache
	url = git://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/neocomplcache-snippets-complete"]
	path = .vim/bundle/neocomplcache-snippets-complete
	url = git://github.com/Shougo/neocomplcache-snippets-complete.git
