" {{ ansible_managed }}

set nocompatible
filetype off            " required by vundle

set rtp+=~/.vim/bundle/vundle/
call vundle#rc()

" Vundle Bundles
Bundle 'gmarik/vundle'

" File Navigation
Bundle 'tpope/vim-vinegar'
let g:netrw_banner = 1

" Control-P - Fuzzy file, buffer, mru, tag, etc finder
Bundle 'kien/ctrlp.vim'

" Relative line numbers
Bundle 'myusuf3/numbers.vim'
set number

" Vim Airline (status bar)
Bundle 'vim-airline/vim-airline'
Bundle 'vim-airline/vim-airline-themes'
" Enable the list of buffers
let g:airline#extensions#tabline#enabled = 1

" Programming
Bundle 'scrooloose/syntastic'

" Surrounding tags editor magic (cs)
Bundle 'tpope/vim-surround'

" Git integration
Bundle 'tpope/vim-fugitive'
Bundle 'airblade/vim-gitgutter'

" Fix very slow YAML parsing
Bundle 'stephpy/vim-yaml'

" Visual 'go to text' motions (leader is \\ so \\f or \\w)
Bundle 'easymotion/vim-easymotion'

" EasyGrep - Better grep tooling
Bundle 'dkprice/vim-easygrep'
let g:EasyGrepOpenWindowOnMatch=0

" Kid Tested.  Python approved.
set tabstop=4
set shiftwidth=4
set expandtab
set softtabstop=4

set autoindent
set ignorecase
set smartcase

set scrolloff=3

set visualbell
set noerrorbells

" Display vim exmode command completion options
set wildmenu
set wildmode=longest:full,full

" Always display status line
set laststatus=2

" Required for sane buffers
set hidden

set ruler
set title
set showcmd

set showmatch
set hlsearch
set incsearch

set history=1000
set undolevels=1000
set wildignore=*.swp,*.bak,*.pyc

" Default buffer bindings too painful across platforms so use F1/F2 instead
map <F1> :bprevious<CR>
map! <F1> <ESC>:previous<CR>

map <F2> :bnext<CR>
map! <F2> <ESC>:bnext<CR>

map <F3> :ls<CR>
map! <F3> <ESC>:ls<CR>

map <F5> :copen<CR>
map! <F5> <ESC>:copen<CR>

map <F6> :cclose<CR>
map! <F6> <ESC>:cclose<CR>

" Force use of flake8
let g:syntastic_python_checkers = ['flake8']

" Disable certain PEP8 checks in flake8
let g:syntastic_python_flake8_post_args='--ignore=E501,E302'

syntax on

" Automatic comment insertion is evil
autocmd FileType * setlocal formatoptions-=c formatoptions-=r formatoptions-=o

" Turn off autoindent
nnoremap <F10> :setl noai nocin nosi inde=<CR>
" Turn on autoindent
nnoremap <F11> :setl cin si<CR>

" Yaml indenting
autocmd FileType yaml set tabstop=2 expandtab softtabstop=2

" Custom markdown files handler for .md extension
autocmd BufNewFile,BufFilePre,BufRead *.md set filetype=md-c
autocmd FileType md-c set wrap linebreak nolist spell textwidth=0 wrapmargin=0 formatoptions-=t
autocmd FileType md-c set tabstop=2 expandtab softtabstop=2
autocmd FileType md-c hi SpellBad cterm=underline ctermfg=red ctermbg=none

" Woo colors...
if &term =~ "xterm"
    "256 color --
    let &t_Co=256
endif

if &term =~ "screen"
    "256 color --
    let &t_Co=256
endif

if &term =~ "linux"
    "256 color --
    let &t_Co=256
endif

colorscheme darkburn

